@media (max-width:319px) {
    #Chordynator .Map g {
        display: none;
    }
}

#Chordynator .Map {

    /* DEFAULTS */
    background-color: @base;

    rect {
        fill:@base;
        stroke:@primaryB;
        stroke-width:0.55;
        cursor: pointer;
        .border-radius(5px);
    }

    line { stroke:@primaryB;  stroke-width:0.55; }
    ellipse { fill:@primaryB; }

    text, image {
        pointer-events: none;
        text-anchor:middle;
        font-family: 'Quantico';
    }

    text.name { font-size:0.45rem; fill:@primaryC; letter-spacing: -0.13rem; }
    text.type { font-size:0.20rem; fill:@primaryB; }

    /* PLOTS & FLOWS */
    g.plot, g.flow {

        &:hover rect { stroke:@secondaryB; }
        &:hover text{ fill:@primaryC; }

        &.selected {

            rect { stroke:@secondaryB; .box-shadow(); }
            text.name { fill:@accentB; }
            text.type { fill:@primaryC; }

        } /* selected */

        &.active {

            rect { stroke:@secondaryB; }
            line { stroke:@secondaryB; }
            ellipse { fill:@secondaryB; }
            text {fill:@primaryC; }

        } /* active */

    } /* g */

    
}

