@media (max-width:319px) {
    #Chordynator .Map g {
        display: none;
    }
}

#Chordynator .Map {

    /* Generic */
    background-color: @base;

    rect {
        fill:@base;
        stroke:@secondary;
        stroke-width:1;
        cursor: pointer;
        .border-radius(5px);
    }

    line { stroke:@secondary;  stroke-width:1; }
    ellipse { fill:@secondary; }

    text {
        pointer-events: none;
        fill:@secondary;
        text-anchor:middle;
        font-family: "Russo One";
    }

    text.name { font-size:0.45rem; }
    text.type { font-size:0.25rem; }

        
    /* corners */
    g.logo, g.new, g.option, g.tertiery {}

    /* Plots * Flows */
    g.plot, g.flow {

        &:hover rect { stroke:@accent; }
        &:hover text{ fill:@accent; }

        &.selected {

            rect { fill:@accent; stroke:@accent; }
            text { fill:@primary; }

        } /* selected */

        &.active {

            rect { stroke:@accent; }
            line { stroke:@accent; }
            ellipse { fill:@accent; }
            text {fill:@accent; }

        } /* active */

    } /* g */
   

}

