/* -------------------------------------------------
 * Layout
/* ------------------------------------------------- */

@base: #24343D;
@primary: lighten(@base, 20%);
@secondary: lighten(@base, 20%);
@accent: lighten(@base, 80%);
/*
@primary: #9cbcc0; // light blue
@secondary: #AA3E45; // light red 
@accent: #303b3f; // dark blue*/

.red { background-color: #FF0000; opacity:0.5;} 
.green { background-color: #00FF00; opacity:0.5;}
.blue {  background-color: #0000FF; opacity:0.5;}
.grey { background-color: #e2e2e2; opacity:0.5;}
.box { background-color: #000; opacity: 0.5;}